[user]
  name = Andriy Semenets
  email = semanser@gmail.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL0rPtcf2YkVFnb9MHvuT8KBGqUgdou9tNVMK4DH3hyn
[alias]
  # Useful when you have to update your last commit
  # with staged files without editing the commit message.
  oops = commit --amend --no-edit
[core]
  excludesfile = /Users/semanser/.gitignore_global
  autocrlf = false
  filemode = false
  pager = delta
  # Don't consider trailing space change as a cause for merge conflicts
  whitespace = -trailing-space
[diff]
  tool = vimdiff
  # Show renames/moves as such
  renames = true
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[commit]
  gpgsign = true
  verbose = true
[log]
  # Use abbrev SHAs whenever possible/relevant instead of full 40 chars
  abbrevCommit = true
[gpg]
  program = gpg
  format = ssh
[url "git@github.com:"]
  insteadOf = https://github.com/
[push]
  default = current

[delta]
  plus-style = syntax "#012800"
  minus-style = normal "#340001"
  syntax-theme = Monokai Extended

[interactive]
  diffFilter = delta --color-only
[pull]
	rebase = false
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
